body {
  background-color: #eb8b2b;
}
@font-face {
  font-family: "Mexicana";
  src: url(../font/Mexicana.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
.logo {
  width: 50%;
  margin-left: 20px;
}
.corner-decoration {
  position: fixed;
  width: 1000px;
  height: 1000px;
  background-image: url("../photo/Line\ Art.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.top-left {
  top: -1;
  left: -1;
}
.bottom-right {
  bottom: 0;
  right: 0;
  rotate: 180deg;
}
.page-link {
  background-color: #eb8b2b;
}
h1 {
  font-family: "Mexicana";
}
