img {
  width: 10%;
}
.masthead {
  height: 50%;
  min-height: 500px;
  background-image: url("photo/a403320ac4c56b37ef525426e074c8c324c3d2045f8cc46b8ad133aa2211cf44.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.custom-jumbotron {
  width: 50%;
}
.fw-light {
  margin-top: 13%;
}
